<nav class="navbar-expand-lg navbar navbar-default navbar-static-top navbar-light bg-light">
    <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Hello
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Đăng xuất</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                VI
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">EN</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/department/home">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <a href="/department/home" class="w3-bar-item w3-button">Trang chủ</a>
    <a href="/department/noti" class="w3-bar-item w3-button">Thông báo</a>
    <a href="#!" class="w3-bar-item w3-button" data-toggle="modal" data-target="#change-pass">Đổi mật
        khẩu</a>
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
</div>

<form action="/account/change-pass" method="post">
    <div class="modal fade" id="change-pass" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="" class="mt-2">Mật khẩu cũ</label>
                    <input type="password" name="old_pass" class="form-control" required>
                    <label for="" class="mt-2">Mật khẩu mới</label>
                    <input type="password" name="new_pass" class="form-control" required>
                    <label for="" class="mt-2">Nhập lại mật khẩu mới</label>
                    <input type="password" name="conf_pass" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</form>