<div class="container-fluid">
    {{> nav_st}}

    <div id="main" class=" my-5">
        <div class="row">
            <div class="col-6 mx-auto">
                <strong>{{noti.title}}</strong>
                <div>{{noti.date}}</div>
                <div>{{noti.content}}</div>
            </div>
        </div>
    </div>
</div>