<div class="container-fluid">
    {{> nav_st}}

    <div id="main" class=" my-5">
        <div class="row">
            <div class="col-8 mx-auto cate-list" id="cate-list">

            </div>
        </div>
    </div>
</div>

<script>
    show_list_cate_noti()
</script>